*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.container {
    height: 100vh;
    background-color: rgb(244, 244, 84);


    background-image: repeating-radial-gradient(circle, yellow, yellow 10px, black 10px, black 20px);

    position: relative;
    
}





.scroll {
    height: 400px;
    width: 600px;
    overflow: hidden;

    display: flex;
    align-items: center;

    border-radius: 50%;

    
    background-image: linear-gradient(90deg, transparent, red 10%, magenta 80%, transparent);
    mask-image: linear-gradient(90deg, transparent, green 20%, green 80%, transparent);

    position: absolute;

    animation-name: trippy;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}






@keyframes trippy {
    0% {
        top: 1vh;
        left: 1vw;
    }

    25% {
        top: 1vh;
        left: 65vw;
    }

    50% {
        top: 55vh;
        left: 65vw;
    }

    75% {
        top: 55vh;
        left: 1vw;

    }

    100% {
        top: 1vh;
        left: 1vw;
    }
}




.scrolltrack {

    display: flex;
    gap: 200px;
    justify-content: space-evenly;
    align-items: center;

    animation: animate 100s linear infinite;
}

.scrolltrack > img {
    min-height: 360px;
    min-width: 560px;

    max-height: 360px;
    max-width: 560px;

    border-radius: 20px;

}


@keyframes animate {
    0% {
        transform: translateX(600px);
    }

    100% {
        transform: translateX(calc(calc(-1 * 600px * 19) + calc(-1 * 200px * 17)));
    }

}